*{margin: 0;}
header h1{text-align: center;
padding-top: 1%;
padding-right: 6%;
display: flex; 
justify-content: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
header div{height: 70px;}


.navigation nav {
    background-color: black;
}

.navigation nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.navigation nav li {
    display: inline-block;
    width: 20%; 
    border-left: 3px solid white;
    height: 50px;
}
#contact{
    border-right: 3px solid white;
   }

.navigation nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation nav li a:hover {
    background-color: white;
    color: black;
}
.info{margin-bottom: 10%;}
.infotext{width: 40%;
float: left;
margin-left: 4%;
margin-top: 3%;}
.infotext p{margin-bottom: 25px;
font-family:system-ui;
display: inline-block;
font-size: 1.05em;}
.infotext h2{text-align: center;
  font-size: 1.8em;
}
.infoimage img{margin-left: 10%;
  margin-top: 7%;
}

.Form h2{text-align: center;
margin-bottom: 20px;
margin-top: 20px;}
form {
    display: block;
    width: 400px;
    margin: auto;
    border: 1px solid #c4c1c1;
    padding: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
#name,#email,#message 
  {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c4c1c1;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #submit {
    background-color: #36b93a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor:pointer;
  }
  
  #submit:hover {
    background-color: #3e8e41;
  }
  .Location{width: 40%;
  margin-left:5%;
margin-top: 5%;
float: left;}
  .Location h2{text-align: center;
  margin-right: 5%;
  margin-bottom: 3%;}
.contactinfo{padding-top: 5%;
  }
.contactinfo h2{text-align: center;
margin-bottom: 5%;}
.contactinfo nav ul{    margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;}
.contactinfo nav ul li{padding-bottom: 2em;
text-align: center;}
.contactinfo img{margin-left: 10.5%;
  margin-top: 1%;}





  footer {
    background-color: #2c3030;
    height: 30px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;}
 footer h4{
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 7px;
        margin: auto;
    }